<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ titleForm }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form [formGroup]="bookForm">
        <div class="form-row mt-4">
          <div class="form-group col-md-12">
            <label for="exampleInputEmail1">Nome:</label>
            <input type="text" class="form-control"
            aria-describedby="emailHelp"
            placeholder="Nome do livro"
            formControlName="name">
          </div>
        </div>

        <div class="form-row mt-4 mb-4">
          <div class="form-group col-md-4">
            <label for="exampleInputPassword1">Páginas:</label>
            <input type="text"
            class="form-control"
            placeholder="Páginas"
            formControlName="pages">
          </div>
          <div class="form-group col-md-4">
            <label for="exampleInputPassword1">ISBN 10:</label>
            <input type="text"
            class="form-control"
            placeholder="ISBN 10"
            formControlName="isbn_10">
          </div>
          <div class="form-group col-md-4">
            <label for="exampleInputPassword1">ISBN 13:</label>
            <input type="text"
            class="form-control"
            placeholder="ISBN 13"
            formControlName="isbn_13">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Editora:</label>
            <select id="inputState" class="form-control" formControlName="publisher">
              <option selected>Choose...</option>
              <option>...</option>
            </select>

          </div>

          <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Autor(a)(res/ras):</label>
            <select id="inputState" class="form-control" formControlName="authors">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
        </div>

          <div class="custom-file mt-3">
            <!-- <label for="exampleInputPassword1">Imagem:</label> -->
            <input type="file"
            class="custom-file-input"
            placeholder="upload da imagem"
            formControlName="image">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>



      </form>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-group row d-flex flex-row-reverse mt-3">
      <button type="submit"
      class="btn btn-primary"
      (click)="submitForm()">{{ titleBtn }}</button>
    </div>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
  </div>
</ng-template>
