<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ titleForm }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form [formGroup]="bookForm">
        <div class="form-row">
          <label for="exampleInputEmail1">Nome:</label>
          <input type="text" class="form-control"
          aria-describedby="emailHelp"
          placeholder="Nome do livro"
          formControlName="name">
        </div>

        <div class="form-row mt-4 mb-4">
          <div class="col">
            <label for="exampleInputPassword1">Páginas:</label>
            <input type="text"
            class="form-control"
            placeholder="Páginas"
            formControlName="pages">
          </div>
          <div class="col">
            <label for="exampleInputPassword1">ISBN 10:</label>
            <input type="text"
            class="form-control"
            placeholder="ISBN 10"
            formControlName="isbn_10">
          </div>
          <div class="col">
            <label for="exampleInputPassword1">ISBN 13:</label>
            <input type="text"
            class="form-control"
            placeholder="ISBN 13"
            formControlName="isbn_13">
          </div>

          <div class="col">
            <label for="exampleInputPassword1">Editora:</label>
            <input type="text"
            class="form-control"
            placeholder="Editora"
            formControlName="publisher">
          </div>

          <div class="col">
            <label for="exampleInputPassword1">Imagem:</label>
            <input type="text"
            class="form-control"
            placeholder="upload da imagem"
            formControlName="image">
          </div>
          <div class="col">
            <label for="exampleInputPassword1">Autor(a)(res/ras):</label>
            <input type="text"
            class="form-control"
            placeholder="Autores"
            formControlName="authors">
          </div>
        </div>


      </form>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-group row d-flex flex-row-reverse mt-3">
      <button type="submit"
      class="btn btn-primary"
      (click)="submitForm()">{{ titleBtn }}</button>
    </div>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
  </div>
</ng-template>
