.link {
  color: #6C5DD4;
}
.btn-login {
  color: #6C5DD4;
  background: #F2F0FE;
  margin-left: 15px;
  margin-right: 15px;
}
.input-group-text {
  background: unset;
}
.btn-sign-up {
  background: #6C5DD4;
  color: #fff;
}
a {
  text-decoration: none;
}
