<app-home-admin>
  <div class="wapper">
    <div class="top-description">
      <div class="descriptions">
      <span class="span">
        Books |
      </span>
      <span class="latest">
        25 recentes
      </span>
      </div>
      <div class="add-btn">
        <button class="button">
          + Adicionar Livro
        </button>
      </div>
    </div>
    <div class="search-container">
      <div class="search">
        <input type="text" placeholder="Buscar Livro" class="input">
        <img src="../../../../../assets/icons/loupe.svg" alt="" srcset="">
      </div>
    </div>

    <div class="content">
      <div class="list">
        <div class="title">
          <span>Titulo</span>
        </div>
        <div class="author">
          <span>Autores</span>
        </div>
        <div class="publisher">
          <span>Editora</span>
        </div>
        <div class="isbn-10">
          <span>Isbn-10</span>
        </div>
        <div class="isbn-13">
          <span>Isbn-13</span>
        </div>
        <div class="status">
          <span>Status</span>
        </div>
      </div>
    </div>
  </div>
</app-home-admin>
