<app-home-admin>
  <p> sou o authors</p>
  <div class="wapper">
    <div class="top-description">
      <div class="descriptions">
      <span class="span">
        Autores |
      </span>
      <span class="latest">
        10 recentes
      </span>
      </div>
      <div class="add-btn">
        <button class="button" (click)="openModal()">
          + Adicionar Autor
        </button>
      </div>
    </div>
    <div class="search-container">
      <div class="search">
        <input type="text" placeholder="Buscar Editora" class="input">
        <img src="../../../../../assets/icons/loupe.svg" alt="" srcset="">
      </div>
    </div>

    <div class="content">
      <div class="list">
        <div class="title">
          <span>Nome</span>
        </div>
        <div class="author">
          <span>Email</span>
        </div>
        <div class="publisher">
          <span>Site</span>
        </div>
      </div>

      <div class="content--body">
        <ul class="body--list">
            <li class="body--item">
             <span class="item--name">
             </span>
             <span>
             </span>
             <span>
             </span>
            </li>
        </ul>
      </div>
    </div>
  </div>
  <app-form-resource-modal #modalForm ></app-form-resource-modal>
</app-home-admin>
