img {
  width: 100%;
  display: block;
  max-width: 100%;
}
.wapper {
  max-width: 1200px;

  @media (min-width: 481px) and (max-width: 1200px) {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    .principal-caroussel {
      margin: auto;
      width: 100%;
      // margin-right: 20px;
    }
    & > .skills {
      width: 100%;
      margin-top: 60px;

      display: flex;
      justify-content: space-between;

      & > .skill {
        display: flex;
        & > .img {
          margin-right: 10px;
        }
        & > .container-title {
          display: flex;
          flex-direction: column;

          & > .title {
            color: #3F4256;
            font-weight: bold;
          }
          & > .description {
            font-size: .9em;
          }
        }
      }
    }

    & > .offers {
      width: 100%;
      margin-top: 60px;

      display: flex;
      justify-content: space-between;

      & > .recommendeds {
        padding: 20px;
        margin-right: 20px;
        border-radius: 4px;
        margin-bottom: 10px;
        background: rgb(143, 135, 199, .3);

        display: flex;
        flex-direction: column;

        & > .container-title {
          display: flex;
          flex-direction: column;

          & > .title, .description {
            margin-left: 20px;
          }

        }

        & > .books {
          display: flex;
          justify-content: space-between;

          & > .img {
            width: 100%;
            margin: 10px;
            display: block;
            max-width: 100%;
          }
        }
      }
      & > .best-seller-2020 {
        padding: 20px;
        margin-right: 20px;
        border-radius: 4px;
        background: rgba(230, 220, 176, .3);

        display: flex;
        flex-direction: column;

        & > .container-title {
          display: flex;
          flex-direction: column;

          & > .title, .description {
            margin-left: 20px;
          }
        }

        & > .books {
          display: flex;
          justify-content: space-between;

          & > .img {
            width: 100%;
            margin: 10px;
            display: block;
            max-width: 100%;
          }
        }
      }
    }
    & > .for-you {
      width: 100%;
      margin-top: 60px;
      margin:  60px auto;

      display: flex;
      flex-direction: column;

      & > .container-title {
        width: 100%;
        margin-bottom: 30px;

        display: flex;
        flex-direction: column;
        align-items: center;

        & > .title {
          font-size: 3em;
          color: #3F4256;
          font-weight: bold;
          margin-bottom: 20px;

        }
        & > .description {
          width: 600px;
          color: #3F4256;
          font-size: 1.3em;
          font-weight: normal;

        }
      }

      & > .books {

        display: flex;
        justify-content: space-between;

        & > .book {
          margin: 20px;
          padding: 20px;
          border-radius: 10px;
          // background: #3F4256;
          border: 1px solid rgba(0, 0, 0, .04);

          & > .img {
            & > img {
              width: 100%;
              max-width: 100%;
              border-radius: 5px;
            }
          }

          & > .book-card {
            margin: 20px 0 0 20px;

            & > .card-title {
              & > .title {
                color: #3F4256;
                font-size: 1.5em;
                font-weight: bold;
              }
            }

            & > .tags {
              margin-bottom: 20px;
              & > span {
                color: #6C5DD4;
                padding: 5px 15px;
                margin-right: 10px;
                border-radius: 10px;
                background: #F1EEFF;
              }
            }

            &  > .resume {
              & > .description {
                color: #3F4256;

              }
            }

            & > .author {
              margin-bottom: 20px;
              & > .name {
                font-weight: bold;
                color: #3F4256;
              }
            }

            & > .actions {
              display: flex;
              justify-content: space-between;
              align-items: center;

              & > .btn-cart {
                border: none;
                border-radius: 10px;
                color: #fff;
                background: #6C5DD4;
                padding: 15px 20px;
              }

              &  > .prices {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                & > .promocional-price {
                  font-weight: bold;
                  font-size: 1.3em;
                  margin-right: 10px;
                }
                & > .initial-price {
                  font-size: 1em;
                  font-style: normal;
                  text-decoration: line-through;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 1201px) {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    .principal-caroussel {
      margin: auto;
      width: 100%;
      // margin-right: 20px;
    }
    & > .skills {
      width: 100%;
      margin-top: 60px;

      display: flex;
      justify-content: space-between;

      & > .skill {
        display: flex;
        & > .img {
          margin-right: 10px;
        }
        & > .container-title {
          display: flex;
          flex-direction: column;

          & > .title {
            color: #3F4256;
            font-weight: bold;
          }
          & > .description {
            font-size: .9em;
          }
        }
      }
    }

    & > .offers {
      width: 100%;
      margin-top: 60px;

      display: flex;
      justify-content: space-between;

      & > .recommendeds {
        padding: 20px;
        max-width: 100%;
        margin-right: 20px;
        border-radius: 4px;
        background: rgb(143, 135, 199, .3);

        display: flex;
        flex-direction: column;
        // margin-bottom: 10px;

        & > .container-title {
          display: flex;
          flex-direction: column;

          & > .title, .description {
            margin-left: 20px;
          }

        }

        & > .books {
          width: 100%;
          display: flex;
          max-width: 100%;
          justify-content: space-between;

          & > .img {
            width: 100%;
            margin: 10px;
            display: block;
            max-width: 100%;
          }
        }
      }
      & > .best-seller-2020 {
        display: flex;
        padding: 20px;
        border-radius: 4px;
        margin-right: 20px;
        flex-direction: column;
        background: rgba(230, 220, 176, .3);

        & > .container-title {
          display: flex;
          flex-direction: column;

          & > .title, .description {
            margin-left: 20px;
          }
        }

        & > .books {
          display: flex;
          justify-content: space-between;

          & > .img {
            width: 100%;
            margin: 10px;
            display: block;
            max-width: 100%;
          }
        }
      }
    }

    & > .for-you {
      width: 100%;
      margin-top: 60px;

      display: flex;
      flex-direction: column;

      & > .container-title {
        width: 100%;
        margin-bottom: 30px;

        display: flex;
        flex-direction: column;
        align-items: center;

        & > .title {
          font-size: 3em;
          color: #3F4256;
          font-weight: bold;
          margin-bottom: 20px;

        }
        & > .description {
          width: 600px;
          color: #3F4256;
          font-size: 1.3em;
          font-weight: normal;

        }
      }

      & > .books {

        display: flex;
        justify-content: space-between;

        & > .book {
          margin: 20px;
          padding: 20px;
          border-radius: 10px;
          // background: #3F4256;
          border: 1px solid rgba(0, 0, 0, .04);

          & > .img {
            & > img {
              width: 100%;
              max-width: 100%;
              border-radius: 5px;
            }
          }

          & > .book-card {
            margin: 20px 0 0 20px;

            & > .card-title {
              & > .title {
                color: #3F4256;
                font-size: 1.5em;
                font-weight: bold;
              }
            }

            & > .tags {
              margin-bottom: 20px;
              & > span {
                color: #6C5DD4;
                padding: 5px 15px;
                margin-right: 10px;
                border-radius: 10px;
                background: #F1EEFF;
              }
            }

            &  > .resume {
              & > .description {
                color: #3F4256;

              }
            }

            & > .author {
              margin-bottom: 20px;
              & > .name {
                font-weight: bold;
                color: #3F4256;
              }
            }

            & > .actions {
              display: flex;
              justify-content: space-between;
              align-items: center;

              & > .btn-cart {
                border: none;
                border-radius: 10px;
                color: #fff;
                background: #6C5DD4;
                padding: 15px 20px;
              }

              &  > .prices {
                & > .promocional-price {
                  font-weight: bold;
                  font-size: 1.3em;
                  margin-right: 10px;
                }
                & > .initial-price {
                  font-size: 1em;
                  font-style: normal;
                  text-decoration: line-through;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 700px) {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    & > .principal-caroussel {
      margin-bottom: 20px;
      // margin: auto;
      // width: 100%;
    }

    & > .skills {
      width: 100%;
      margin: 60px 20px 0 20px;

      display: flex;
      flex-direction: column;
      justify-content: center;

      // justify-content: space-between;

      & > .skill {
        display: flex;
        // flex-direction: column;
        padding: 10px;
        margin: 10px;
        width: 100%;
        overflow-x: hidden;
        & > .img {
          margin-right: 10px;
          width: 50px;
          height: 50px;
        }
        & > .container-title {
          display: flex;
          flex-direction: column;
          width: 100%;
          max-width: 100%;
          overflow: hidden;
          margin-right: 10px;
          // align-items: center;

          & > .title {
            color: #3F4256;
            font-weight: bold;
          }
          & > .description {
            font-size: .8em;
            margin-right: 20px;

          }
        }
      }
    }

    & > .offers {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      & > .recommendeds {
        display: flex;
        align-items: center;
        flex-direction: column;

        & > .container-title {
          display: flex;
          align-items: center;
          flex-direction: column;

          & > .title {
            color: #3F4256;
            font-size: 1.5em;
            font-weight: bold;
          }

          & > .description {
            text-align: center;
          }
        }

        & > .books {
          & > .img {
            margin-bottom: 20px;
          }
        }
      }
      & > .best-seller-2020 {
        display: grid;
        grid-template-areas:
        'title'
        'books';

        & > .container-title {
          grid-area: title;
          text-align: center;

          & > .title {
            text-align: center;
          }
        }

        & > .books {
          grid-area: books;

          & > .img {
            max-width: 100%;
            margin-bottom: 10px;
            & > img {
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }


  }
  // display: flex;
  // justify-content: space-between;
}
