<!-- <app-public-menu></app-public-menu>

  <div class="wapper">
    <div class="principal-caroussel">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide *ngFor="let item of images">
          <div class="picsum-img-wrapper">
            <img [src]="item" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="skills">
      <div class="skill">
        <div class="img">
          <img src="../../../assets/icons/fast.svg" alt="" srcset="">
        </div>
        <div class="container-title">
          <h5 class="title">
            Rápida entrega
          </h5>
          <p class="description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, tempora!
          </p>
        </div>
      </div>
      <div class="skill">
        <div class="img">
          <img src="../../../assets/icons/quality.svg" alt="" srcset="">
        </div>
        <div class="container-title">
          <h5 class="title">
            Devolução garantida
          </h5>
          <p class="description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, tempora!
          </p>
        </div>
      </div>
      <div class="skill">
        <div class="img">
          <img src="../../../assets/icons/verified.svg" alt="" srcset="">
        </div>
        <div class="container-title">
          <h5 class="title">
            Pagamento seguro
          </h5>
          <p class="description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, tempora!
          </p>
        </div>
      </div>
      <div class="skill">
        <div class="img">
          <img src="../../../assets/icons/like.svg" alt="" srcset="">
        </div>
        <div class="container-title">
          <h5 class="title">
            Melhor qualidade do Mercado
          </h5>
          <p class="description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, tempora!
          </p>
        </div>
      </div>
    </div>

    <section class="offers">
      <div class="recommendeds">
        <div class='container-title'>
          <h5 class="title">
            Recomendados para você
          </h5>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sunt atque reiciendis beatae nihil, ducimus consectetur expedita autem magnam nulla.
          </p>
        </div>
        <div class="books">
          <div class="img">
            <img src="https://picsum.photos/id/5/125/170" alt="" srcset="">
          </div>
          <div class="img">
            <img src="https://picsum.photos/id/6/125/170" alt="" srcset="">
          </div>
          <div class="img">
            <img src="https://picsum.photos/id/4/125/170" alt="" srcset="">
          </div>
          <div class="img">
            <img src="https://picsum.photos/id/99/125/170" alt="" srcset="">
          </div>
        </div>
      </div>

      <div class="best-seller-2020">
        <div class='container-title'>

          <h5 class="title">
            Polulares em 2020
          </h5>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sunt atque reiciendis beatae nihil, ducimus consectetur expedita autem magnam nulla.
          </p>
        </div>
        <div class="books">
          <div class="img">
            <img src="https://picsum.photos/id/85/125/170" alt="" srcset="">
          </div>
          <div class="img">
            <img src="https://picsum.photos/id/46/125/170" alt="" srcset="">
          </div>
          <div class="img">
            <img src="https://picsum.photos/id/432/125/170" alt="" srcset="">
          </div>
          <div class="img">
            <img src="https://picsum.photos/id/499/125/170" alt="" srcset="">
          </div>
        </div>
      </div>
    </section>

    <section class="for-you">
      <div class="container-title">
        <h2 class="title">
          Ofertas especiais
        </h2>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id nesciunt enim mollitia autem cumque? Maiores?
        </p>
      </div>
      <div class="books">
        <div class="book">
          <div class="img">
            <img src="https://picsum.photos/id/200/420/250" alt="">
          </div>
          <div class="book-card">
            <div class="card-title">
              <h4 class="title">A Menina que Roubava livros</h4>
            </div>
            <div class="tags">
              <span>Ficção</span>
              <span>Teens</span>
              <span>Biografia</span>
            </div>
            <div class="resume">
              <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui numquam facilis voluptates. Labore, neque ullam necessitatibus similique dolore ea, sapiente pariatur illo quam quibusdam expedita porro commodi aut, a exercitationem temporibus ab magnam laudantium officia. Ad natus veniam repellat iusto, blanditiis nulla quidem inventore ab quod, sunt soluta nisi illum!</p>
            </div>
            <div class="author">
              <span class="name">Kevin Hunt</span>
            </div>
            <div class="actions">
              <button class="btn-cart">
                Add to Cart
              </button>
              <div class="prices">
                <span class="promocional-price">R$ 85,00</span>
                <span class="initial-price">R$ 100,00</span>
              </div>
            </div>
          </div>
        </div>

        <div class="book">
          <div class="img">
            <img src="https://picsum.photos/id/800/420/250" alt="">
          </div>
          <div class="book-card">
            <div class="card-title">
              <h4 class="title">Chegadas e Partidas</h4>
            </div>
            <div class="tags">
              <span>Ficção</span>
              <span>Teens</span>
              <span>Biografia</span>
            </div>
            <div class="resume">
              <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui numquam facilis voluptates. Labore, neque ullam necessitatibus similique dolore ea, sapiente pariatur illo quam quibusdam expedita porro commodi aut, a exercitationem temporibus ab magnam laudantium officia. Ad natus veniam repellat iusto, blanditiis nulla quidem inventore ab quod, sunt soluta nisi illum!</p>
            </div>
            <div class="author">
              <span class="name">Marcos Duvivier</span>
            </div>
            <div class="actions">
              <button class="btn-cart">
                Add to Cart
              </button>
              <div class="prices">
                <span class="promocional-price">R$ 55,00</span>
                <span class="initial-price">R$ 90,00</span>
              </div>
            </div>
          </div>
        </div>

        <div class="book">
          <div class="img">
            <img src="https://picsum.photos/id/500/420/250" alt="">
          </div>
          <div class="book-card">
            <div class="card-title">
              <h4 class="title">A Menina que Roubava livros</h4>
            </div>
            <div class="tags">
              <span>Ficção</span>
              <span>Teens</span>
              <span>Biografia</span>
            </div>
            <div class="resume">
              <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui numquam facilis voluptates. Labore, neque ullam necessitatibus similique dolore ea, sapiente pariatur illo quam quibusdam expedita porro commodi aut, a exercitationem temporibus ab magnam laudantium officia. Ad natus veniam repellat iusto, blanditiis nulla quidem inventore ab quod, sunt soluta nisi illum!</p>
            </div>
            <div class="author">
              <span class="name">Kevin Hunt</span>
            </div>
            <div class="actions">
              <button class="btn-cart">
                Add to Cart
              </button>
              <div class="prices">
                <span class="promocional-price">R$ 185,00</span>
                <span class="initial-price">R$ 250,00</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="books">
        <div class="book">
          <div class="img">
            <img src="https://picsum.photos/id/200/420/250" alt="">
          </div>
          <div class="book-card">
            <div class="card-title">
              <h4 class="title">A Menina que Roubava livros</h4>
            </div>
            <div class="tags">
              <span>Ficção</span>
              <span>Teens</span>
              <span>Biografia</span>
            </div>
            <div class="resume">
              <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui numquam facilis voluptates. Labore, neque ullam necessitatibus similique dolore ea, sapiente pariatur illo quam quibusdam expedita porro commodi aut, a exercitationem temporibus ab magnam laudantium officia. Ad natus veniam repellat iusto, blanditiis nulla quidem inventore ab quod, sunt soluta nisi illum!</p>
            </div>
            <div class="author">
              <span class="name">Kevin Hunt</span>
            </div>
            <div class="actions">
              <button class="btn-cart">
                Add to Cart
              </button>
              <div class="prices">
                <span class="promocional-price">R$ 85,00</span>
                <span class="initial-price">R$ 100,00</span>
              </div>
            </div>
          </div>
        </div>

        <div class="book">
          <div class="img">
            <img src="https://picsum.photos/id/800/420/250" alt="">
          </div>
          <div class="book-card">
            <div class="card-title">
              <h4 class="title">Chegadas e Partidas</h4>
            </div>
            <div class="tags">
              <span>Ficção</span>
              <span>Teens</span>
              <span>Biografia</span>
            </div>
            <div class="resume">
              <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui numquam facilis voluptates. Labore, neque ullam necessitatibus similique dolore ea, sapiente pariatur illo quam quibusdam expedita porro commodi aut, a exercitationem temporibus ab magnam laudantium officia. Ad natus veniam repellat iusto, blanditiis nulla quidem inventore ab quod, sunt soluta nisi illum!</p>
            </div>
            <div class="author">
              <span class="name">Marcos Duvivier</span>
            </div>
            <div class="actions">
              <button class="btn-cart">
                Add to Cart
              </button>
              <div class="prices">
                <span class="promocional-price">R$ 55,00</span>
                <span class="initial-price">R$ 90,00</span>
              </div>
            </div>
          </div>
        </div>

        <div class="book">
          <div class="img">
            <img src="https://picsum.photos/id/500/420/250" alt="">
          </div>
          <div class="book-card">
            <div class="card-title">
              <h4 class="title">A Menina que Roubava livros</h4>
            </div>
            <div class="tags">
              <span>Ficção</span>
              <span>Teens</span>
              <span>Biografia</span>
            </div>
            <div class="resume">
              <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui numquam facilis voluptates. Labore, neque ullam necessitatibus similique dolore ea, sapiente pariatur illo quam quibusdam expedita porro commodi aut, a exercitationem temporibus ab magnam laudantium officia. Ad natus veniam repellat iusto, blanditiis nulla quidem inventore ab quod, sunt soluta nisi illum!</p>
            </div>
            <div class="author">
              <span class="name">Kevin Hunt</span>
            </div>
            <div class="actions">
              <button class="btn-cart">
                Add to Cart
              </button>
              <div class="prices">
                <span class="promocional-price">R$ 185,00</span>
                <span class="initial-price">R$ 250,00</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>


  </div>

 -->
<div class="wapper">

  <div class="sidebar"[ngClass]="{'hide': menuIsToggle}">
    <div class="user-info">
      <div class="user-info__img">
        <img src="https://images.pexels.com/photos/2826131/pexels-photo-2826131.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=100&w=100" alt="" class="img">
      </div>
      <div class="user-info__data">
        <span class="user-info__data__name">
          Pedro Law
        </span>
        <div class="span user-info__data__position">
          Aluno
        </div>
      </div>
    </div>

    <ul class="list">
      <li class="list-item">
        <a href="" class="list-link">
          Buscar
        </a>
        <img src="../../../assets/icons/arrow-right.svg" class="icon">
      </li>
      <li class="list-item">
        <a href="" class="list-link">
          Categoria
      </a>
      <img src="../../../assets/icons/arrow-right.svg" class="icon">
    </li>
      <li class="list-item">
        <a href="" class="list-link">
          Mais lidos
      </a>
      <img src="../../../assets/icons/arrow-right.svg" class="icon">
    </li>
      <li class="list-item">
        <a href="" class="list-link">
          Já lidos
      </a>
      <img src="../../../assets/icons/arrow-right.svg" class="icon">
    </li>
    </ul>
  </div>

  <div class="content">
    <header class="header">
      <div class="header-icon-menu" (click)="toggleMenu()">
        <span [ngClass]="{'menu-collapsed': menuIsToggle}">
          <img src="../../../assets/icons/close.svg">
        </span>
      </div>
      <div class="header-input-form">
        <span class="form-label label">Buscar</span>
        <input type="text" placeholder="Buscar seu livro" class="input">
      </div>
    </header>
    <div class="main">
      <div class="books">
        <div class="card">
          <div class="card-img">
            <div class="img">
              <img src="https://images.pexels.com/photos/3585088/pexels-photo-3585088.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=250&w=1260"class="img-book">
            </div>
          </div>
          <div class="body">
            <span class="card-body__book-title">
              Ux Design
            </span>
            <span class="card-body__author">
              Brad Handley
            </span>
            <div class="span card-body__quantity">
              Disponibilidade: 10
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-img">
            <div class="img">
              <img src="https://images.pexels.com/photos/3184612/pexels-photo-3184612.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=250&w=1260"class="img-book">
            </div>
          </div>
          <div class="body">
            <span class="card-body__book-title">
              Ux Design
            </span>
            <span class="card-body__author">
              Brad Handley
            </span>
            <div class="span card-body__quantity">
              Disponibilidade: 10
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-img">
            <div class="img">
              <img src="https://images.pexels.com/photos/3471423/pexels-photo-3471423.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=250&w=1260"class="img-book">
            </div>
          </div>
          <div class="body">
            <span class="card-body__book-title">
              Ux Design
            </span>
            <span class="card-body__author">
              Brad Handley
            </span>
            <div class="span card-body__quantity">
              Disponibilidade: 10
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
