<div class="wapper">

  <div class="sidebar"[ngClass]="{'hide': menuIsToggle}">
    <div class="user-info">
      <div class="user-info__img">
        <img src="https://images.pexels.com/photos/2826131/pexels-photo-2826131.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=100&w=100" alt="" class="img">
      </div>
      <div class="user-info__data">
        <span class="user-info__data__name">
          Pedro Law
        </span>
        <div class="span user-info__data__position">
          Aluno
        </div>
      </div>
    </div>

    <ul class="list">
      <li class="list-item">
        <a href="" class="list-link">
          Buscar
        </a>
        <img src="../../../assets/icons/arrow-right.svg" class="icon">
      </li>
      <li class="list-item">
        <a href="" class="list-link">
          Categoria
      </a>
      <img src="../../../assets/icons/arrow-right.svg" class="icon">
    </li>
      <li class="list-item">
        <a href="" class="list-link">
          Mais lidos
      </a>
      <img src="../../../assets/icons/arrow-right.svg" class="icon">
    </li>
      <li class="list-item">
        <a href="" class="list-link">
          Já lidos
      </a>
      <img src="../../../assets/icons/arrow-right.svg" class="icon">
    </li>
    </ul>
  </div>

  <div class="content">
    <header class="header">
      <div class="header-icon-menu" (click)="toggleMenu()">
        <span [ngClass]="{'menu-collapsed': menuIsToggle}">
          <img src="../../../assets/icons/close.svg">
        </span>
      </div>
      <div class="header-input-form">
        <span class="form-label label">Buscar</span>
        <input type="text" placeholder="Buscar seu livro" class="input">
      </div>
    </header>
    <div class="main">
      <div class="books">
        <div class="card">
          <div class="card-img">
            <div class="img">
              <img src="https://images.pexels.com/photos/3585088/pexels-photo-3585088.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=250&w=1260"class="img-book">
            </div>
          </div>
          <div class="body">
            <span class="card-body__book-title">
              Ux Design
            </span>
            <span class="card-body__author">
              Brad Handley
            </span>
            <div class="span card-body__quantity">
              Disponibilidade: 10
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-img">
            <div class="img">
              <img src="https://images.pexels.com/photos/3184612/pexels-photo-3184612.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=250&w=1260"class="img-book">
            </div>
          </div>
          <div class="body">
            <span class="card-body__book-title">
              Ux Design
            </span>
            <span class="card-body__author">
              Brad Handley
            </span>
            <div class="span card-body__quantity">
              Disponibilidade: 10
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-img">
            <div class="img">
              <img src="https://images.pexels.com/photos/3471423/pexels-photo-3471423.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=250&w=1260"class="img-book">
            </div>
          </div>
          <div class="body">
            <span class="card-body__book-title">
              Ux Design
            </span>
            <span class="card-body__author">
              Brad Handley
            </span>
            <div class="span card-body__quantity">
              Disponibilidade: 10
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
