<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ titleFom }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="authorFom">
      <div class="row">
        <div class="col">
          <label for="exampleInputPassword1" class="form-label">Nome</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="col">
          <label for="exampleInputPassword1" class="form-label">Email</label>
          <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="col">
          <label for="exampleInputPassword1" class="form-label">Editora</label>
          <select
            class="form-control"
            aria-label="Default select example"
            (change)="setPublisher($event.target.value)"
            formControlName="publisher">
            <option selected disabled>Selecione a editora</option>
            <option [selected]="publisher.id === hasOptionSelected?.id ? true : null" [value]="publisher.id" *ngFor="let publisher of (publishers$ | async )">{{ publisher.name }}</option>
          </select>
        </div>
      </div>
      <div class="row d-flex justify-content-end mt-5 pr-4">
        <button type="submit"
          class="btn btn-primary"
          [disabled]="(authorFom.invalid && currentAction ==='createMode')"
         (click)="submitForm()" >{{ btnAction }}</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light"  (click)="modal.close('Close click')">Close</button>
  </div>
  {{ authorFom.errors }}
</ng-template>
