  <app-home-admin>
    <div class="wapper">
      <div class="top-description">
        <div class="descriptions">
        <span class="span">
          Editoras |
        </span>
        <span class="latest">
          25 recentes
        </span>
        </div>
        <div class="add-btn">
          <button class="button">
            + Adicionar Editora
          </button>
        </div>
      </div>
      <div class="search-container">
        <div class="search">
          <input type="text" placeholder="Buscar Editora" class="input">
          <img src="../../../../../assets/icons/loupe.svg" alt="" srcset="">
        </div>
      </div>

      <div class="content">
        <div class="list">
          <div class="title">
            <span>Nome</span>
          </div>
          <div class="author">
            <span>Email</span>
          </div>
          <div class="publisher">
            <span>Site</span>
          </div>
        </div>
      </div>
      <ng-container>
      </ng-container>

    </div>
</app-home-admin>
