  <app-home-admin>
    <app-form-publisher #publisherModalForm ></app-form-publisher>
    <div class="wapper">
      <div class="top-description">
        <div class="descriptions">
        <span class="span">
          Editoras |
        </span>
        <span class="latest">
          {{ publishers?.length }} recentes
        </span>
        </div>
        <div class="add-btn">
          <button class="button" (click)="openModal()">
            + Adicionar Editora
          </button>
        </div>
      </div>
      <div class="search-container">
        <div class="search">
          <input type="text" placeholder="Buscar Editora" class="input">
          <img src="../../../../../assets/icons/loupe.svg" alt="" srcset="">
        </div>
      </div>

      <div class="content">
        <div class="list">
          <div class="title">
            <span>Nome</span>
          </div>
          <div class="author">
            <span>Email</span>
          </div>
          <div class="publisher">
            <span>Site</span>
          </div>
          <div class="publisher">
            <span><img src="../../../../../assets/icons/hammer.svg" alt="" srcset=""></span>
          </div>
        </div>

        <div class="content--body">
          <ul class="body--list">
              <li class="body--item" *ngFor="let publisher of publishers">
               <span class="item--name">
                {{ publisher.name }}
               </span>
               <span>
                {{ publisher.email }}
               </span>
               <span>
                {{ publisher.web_site }}
               </span>
               <span>
                <img src="../../../../../assets/icons/edit-button.svg"
                alt="edit button icon"
                style="margin-right: 10px;"
                (click)="goToEdit(publisher.id)"
                >
                <img
                src="../../../../../assets/icons/details.svg"
                alt="detail button icon"
                (click)="goToDetail(publisher.id)">
               </span>
              </li>
          </ul>
        </div>
      </div>
    </div>
</app-home-admin>
