  <app-home-admin>
    <div class="wapper">
      <div class="top-description">
        <div class="descriptions">
        <span class="span">
          Editoras |
        </span>
        <span class="latest">
          {{ (publishers$ | async)?.length }} recentes
        </span>
        </div>
        <div class="add-btn">
          <button class="button">
            + Adicionar Editora
          </button>
        </div>
      </div>
      <div class="search-container">
        <div class="search">
          <input type="text" placeholder="Buscar Editora" class="input">
          <img src="../../../../../assets/icons/loupe.svg" alt="" srcset="">
        </div>
      </div>

      <div class="content">
        <div class="list">
          <div class="title">
            <span>Nome</span>
          </div>
          <div class="author">
            <span>Email</span>
          </div>
          <div class="publisher">
            <span>Site</span>
          </div>
        </div>

        <div class="content--body">
          <ul class="body--list">
              <li class="body--item" *ngFor="let publisher of publishers$ | async">
               <span class="item--name">
                {{ publisher.name }}
               </span>
               <span>
                {{ publisher.email }}
               </span>
               <span>
                {{ publisher.web_site }}
               </span>
              </li>
          </ul>
        </div>
      </div>

    </div>
</app-home-admin>
